# Pipeline Database
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Airflow Metadata Database
AIRFLOW_POSTGRES_USER=
AIRFLOW_POSTGRES_PASSWORD=
AIRFLOW_POSTGRES_DB=

# Airflow Admin User
AIRFLOW_ADMIN_USERNAME=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_FIRSTNAME=
AIRFLOW_ADMIN_LASTNAME=
AIRFLOW_ADMIN_EMAIL=